{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='{% static "shortener/css/style.css" %}'/>
    <link rel='stylesheet' type='text/css' href='{% static "shortener/css/bootstrap.min.css" %}'/>
    <title>{% block title %}Url Shortener{% endblock %}</title>
</head>
<body>
    <div id='content'>
        {% block content %}{% endblock %}
    </div>

    <script src='{% static "shortener/javascript/jquery-2.1.4.min.js" %}'/>
    <script src='{% static "shortener/javascript/bootstrap.min.js" %}'/>
</body>
</html>
