{% extends 'shortener/base.html' %}

{% block content %}
<form id='url-form' action={% url 'shortener:index' %} method='post'>
{% csrf_token %}
    <label id='url-input-label' for='url-input'>Paste your long URL here:</label>
    <input id='url-input' class='form-control' type='text' name='url-input'/>
    <input class='btn btn-primary' type='submit' value='Shorten'/>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p class="text-danger">{{ message }}</p>
            {% endif %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <p class="text-success">
                Your short url: <a href="{{ message }}">{{ message }}</a>
            </p>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</form>
{% endblock %}
