#url-form {
    display: block;
    padding: auto;
    margin: 10% auto;
    width: 50%;
    background-color: inherit;
}
#url-input {
    display: inline-block;
    padding: auto;
    margin: auto;
    margin-left: 20%;
    width: 50%;
}
#url-input-label {
    display: block;
    padding: auto;
    margin: 0 0 1em 20%;
}
.messages {
    display: block;
    padding: auto;
    margin: 0.25em 0 0 20%;
    font-size: 1.5em;
}
